[buildout]
extends = https://raw.github.com/plock/pins/master/plone-4-3

parts =
  instance
  test
  coverage-report
  omelette
  zopepy

extensions = mr.developer

auto-checkout =
  reduc.policy
  reduc.theme
  reduc.inventario
  reduc.crypt
  reduc.user
  reduc.usermanager
  reduc.ldap


[eggs]
main =
  reduc.policy
  reduc.theme
  reduc.inventario
  reduc.usermanager
  experimental.gracefulblobmissing
  
test =
  reduc.policy
  reduc.theme
  reduc.inventario
  reduc.usermanager

[sources]
reduc.policy = fs reduc.policy
reduc.theme = fs reduc.theme
reduc.inventario = fs reduc.inventario
reduc.crypt = fs reduc.crypt
reduc.user = fs reduc.user
reduc.usermanager = fs reduc.usermanager
reduc.ldap = fs reduc.ldap


[instance]
http-address = 8080
eggs = 
    ${base:packages}
    ${eggs:main}
products =
recipe = plone.recipe.zope2instance
scripts =
user = admin:admin
zcml =
    ${base:zcml}
    ${eggs:main}


[test]
recipe = zc.recipe.testrunner
eggs = ${eggs:test}
defaults = ['--auto-color', '--auto-progress']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coveragereport
arguments = ('parts/test/coverage', 'coverage')


[zopepy]
recipe = zc.recipe.egg
eggs =
  ${eggs:main}
#  ${eggs:devtools}
interpreter = zopepy


[omelette]
recipe = collective.recipe.omelette
eggs =
  ${eggs:main}


[versions]
# Checking buildout file versions.cfg
#zc.buildout=2.2.1
#zc.recipe.egg=2.0.1
Products.Scrawl=2.0b1

